#pycharm
.idea/
.vscode
.DS_Store
Algorithms_Visualized/
AlgoDSBot/src/config.json
Algorithms/Algorithms_CS344/Class_Algos/
# AlgoDS Bot
AlgoDSBot/src/__pycache__
AlgoDSBot/src/cogs/__pycache__/
__pycache__/
*.py[cod]
*$py.class